@font-face {
  font-family: adam script;
  src: url('../fonts/Adam-Script.ttf');
}

@font-face {
  font-family: bellaboo;
  src: url('../fonts/BELLABOO-Regular.ttf');
}

.body{
  font-family: adam script;
  font-family: bellaboo;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.showme {
  border: 2px solid transparent;
}
