@font-face {
  font-family: adam script;
  src: url('../fonts/Adam-Script.ttf');
}

@font-face {
  font-family: bellaboo;
  src: url('../fonts/BELLABOO-Regular.ttf');
}

.hideMe{
  
}

.showme {
  border: 2px solid transparent;
}
